<div id="<%= dom_id friend %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">First name:</strong>
    <%= friend.first_name %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Last name:</strong>
    <%= friend.last_name %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Email:</strong>
    <%= friend.email %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Phone:</strong>
    <%= friend.phone %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Twitter:</strong>
    <%= friend.twitter %>
  </div>
</div>
